footer {
    display: flex;
    padding: 0 20px;

    .footer {
        margin: 0 auto;
        padding: 50px 0;
        width: 100%;
        max-width: 1290px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .cont_1 {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            span {
                font-family: Golos;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: #868C98;
            }

            a {
                font-family: Golos;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: right;
                color: #111827;
            }

            a:hover {
                color: #10B981;
            }

        }

        .cont_2 {
            font-family: Bebas Neue Pro;
            font-size: 36px;
            font-weight: 325;
            line-height: 44.4px;
            text-align: center;
            text-transform: uppercase;
        }


    }


}

@media (max-width: 1150px) {
    footer {

        .footer {

            .cont_1 {
                flex-direction: column;
                gap: 30px;

                span {
                    font-family: Golos;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    text-align: left;
                }

                a {
                    text-align: left;
                    font-family: Golos;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                }

                a:hover {
                    color: #10B981;
                }

            }

            .cont_2 {
                font-family: Bebas Neue Pro;
                font-size: 24px;
                font-weight: 325;
                line-height: 28.8px;
                text-align: left;
            }
        }
    }

}