.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	z-index: 199;

	.container {
		display: flex;
		// flex-direction: column;
		width: 100%;
		max-width: 1290px;
		justify-content: space-between;
		gap: 30px;
	}

	.mob {
		display: flex;
		width: 100%;
		max-width: 770px;
		align-items: center;
		gap: 30px;
	}

	.header__logo-link {
		font-family: Bebas Neue Pro;
		font-size: 48px;
		font-weight: 700;
		line-height: 54.91px;
		text-align: left;
		color: #10B981;
		display: flex;
		gap: 20px;
		align-items: center;

		span {
			font-family: Golos;
			font-size: 11px;
			font-weight: 400;
			line-height: 14.3px;
			text-align: left;
			display: block;
			min-width: 125px;
			width: 125px;
		}
	}

	.header__nav {
		width: 100%;
		display: flex;
	}

	.level_one {
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: 445px;
		justify-content: space-between;
		gap: 20px;
	}

	.level_one a {
		font-family: Golos;
		font-size: 16px;
		font-weight: 400;
		line-height: 19.2px;
		text-align: left;
		transition: color .5s;
	}

	.level_one li:hover a {
		color: #10B981;
	}

	.level_one li.active a {
		color: #10B981;
	}

	.hidd_cont {
		width: 100%;
		max-width: 425px;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;

		.box-cont {
			p {
				font-family: Golos;
				font-size: 16px;
				font-weight: 400;
				line-height: 19.2px;
				text-align: left;
			}
		}

		.adress__container,
		.link__container {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			align-items: center;
		}

		.adress__container::before,
		.link__container::before {
			content: "";
			width: 30px;
			height: 30px;
			background-size: contain;
			background-position: center;
		}

		.adress__container::before {
			background-image: url("./../img/map.svg");
		}

		.link__container::before {
			background-image: url("./../img/phone.svg");
		}

	}

	@media (max-width: 1276px) {}

	@media (min-width: 1151px) {

		.overlay__box {
			display: none;
		}

		.box {
			width: 100%;
			max-width: 445px;
			margin-left: auto;

			.link__container {
				display: none;
			}

			.adress__container {
				display: none;
			}

			.time__work {
				display: none;
			}

			.links__svg {
				display: none;
			}

			.lizenz {
				display: none;
			}

		}

		.phone__svg_link {
			display: none;
		}

		.menu_btn {
			display: none;
		}
	}

	@media (max-width: 1150px) {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #FFF;
		height: 95px;

		.header__logo-link {
			font-family: Bebas Neue Pro;
			font-size: 38.96px;
			font-weight: 700;
			line-height: 44.57px;
			text-align: left;
			color: #10B981;
			display: flex;
			gap: 10px;
			align-items: center;

			span {
				font-family: Golos;
				font-size: 8.93px;
				font-weight: 400;
				line-height: 11.61px;
				text-align: left;
				min-width: none;
				max-width: 102px;
				width: auto;
			}
		}

		.hidd_cont {
			display: none;
		}

		.container {
			max-width: none;
			min-height: 45px;
		}

		.overlay__box {
			position: fixed;
		}

		.mob {
			width: 100%;
			max-width: none;
			display: flex;
			justify-content: space-between;
			gap: 10px;
			// position: fixed;
		}

		.phone__svg_link {
			display: flex;
			align-items: center;
		}

		.box {
			position: fixed;
			transform: translateX(-101%);
		}

		.menu_btn {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #10B981;
			z-index: 200;

			#btn2 {
				display: none;
			}
		}

		.menu_btn.open {
			#btn2 {
				display: block;
			}

			#btn1 {
				display: none;
			}
		}

		.overlay__box {
			position: fixed;
			top: 0;
			left: 0;
			background-color: rgba(15, 13, 36, .6);
			width: 100%;
			height: 100vh;
			opacity: 0;
			transition: all 1s;
			visibility: hidden;
		}

		.overlay_open {
			visibility: visible;
			opacity: 1;
			transition: all 1s;
			z-index: 100;
		}

		.box {
			position: fixed;
			left: 0;
			background-color: #FFF;
			top: 0px;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 300px;
			height: 100vh;
			align-items: start;
			padding: 90px 20px 25px;
			opacity: 1;
			overflow-y: scroll;
			z-index: 101;
			transform: translateX(-101%);
			transition: transform 1s;
			border-radius: 0px 30px 0px 0px;

			.header__nav {
				border-top: 1px solid #E0E2EB;
				border-bottom: 1px solid #E0E2EB;
				padding: 30px 0;
				margin-bottom: 30px;

				.level_one {
					display: flex;
					flex-direction: column;
					gap: 30px;

					a {
						font-family: Golos;
						font-size: 18px;
						font-weight: 400;
						line-height: 21.6px;
						text-align: left;
					}
				}
			}

			.link__container {
				margin-bottom: 30px;

				p {
					font-family: Golos;
					font-size: 24px;
					font-weight: 500;
					line-height: 28.8px;
					text-align: right;
				}
			}

			.adress__container,
			.time__work {
				display: flex;
				justify-content: space-between;
				gap: 10px;
				align-items: center;
			}

			.adress__container::before,
			.time__work::before {
				content: "";
				width: 30px;
				height: 30px;
				background-size: contain;
				background-position: center;
			}

			.adress__container {
				margin-bottom: 10px;
			}

			.adress__container::before {
				background-image: url("./../img/map.svg");
			}

			.time__work::before {
				background-image: url("./../img/clock.svg");
			}

			.time__work {
				margin-bottom: 30px;
			}

			.links__svg {
				width: 120px;
				display: flex;
				justify-content: space-between;
			}

			.lizenz {
				margin-top: auto;
				font-family: Golos;
				font-size: 16px;
				font-weight: 500;
				line-height: 19.2px;
				text-align: right;
			}

		}


		.box_open {
			transform: translateX(0);
			transition: transform 1s;
		}
	}

	@media (max-width: 360px) {
		.header__logo-link {
			font-family: Bebas Neue Pro;
			font-size: 30.96px;
			font-weight: 700;
			line-height: 44.57px;
			text-align: left;
			color: #10B981;
			display: flex;
			gap: 10px;
			align-items: center;

			span {
				font-family: Golos;
				font-size: 7.93px;
				font-weight: 400;
				line-height: 11.61px;
				text-align: left;
				min-width: 50px;
				max-width: 89px;
				width: auto;
			}
		}
	}
}

@media (max-width: 1150px) {
	main {
		margin-top: 95px;
	}
}